# Ambientes Virtuais
.venv/
env/

# Dados e Tensores (Ignorar arquivos pesados)
data/*
!data/.gitkeep
*.npy
*.csv

# Modelos pré-treinados (arquivos pesados)
models/

# Arquivos de Sistema
.DS_Store
__pycache__/
.ipynb_checkpoints/